


.forma {
    margin: 10% auto 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    background-color: #FFFFFF;
    border: 4px solid rgb(0, 102, 102);
    border-radius: 15px;
    
}

.forma:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 102, 102, 0.034),
            0 6.7px 5.3px rgba(0, 102, 102, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 102, 102, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 102, 102, 0.12);
}

.forma-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
    font-size: 24px;
}

.forma-btn {
    margin-top: 20px;
    font-size: 24px;
}

@media screen and (min-width:1024px) {

    .forma {
        width: 20%;
    }
    
}