.forma-container {
   position: relative;
}


.forma {
    position: absolute;
    bottom: o;
    right: 40%;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.forma-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
}